@model StoreApp.Models.Product

<h1>Product Details</h1>
<h2>@Model.ProductName</h2>
<p>@Model.Price.ToString("c")</p>

<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Products</a>
</div>