@page

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            05050827796
        </p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Esentepe Mah. 297.Sokak No:39 Sefa Apt. Kat:4 Merkez/Afyonkarahisar 03050
        </p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            mehmetserhataslan955@gmail.com
        </p>

    </div>
</div>